@font-face {
    font-family: "Duarte";
    src: url(Playwrite_NZ_Basic/static/PlaywriteNZBasic-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Duarte";
    src: url(Playwrite_NZ_Basic/static/PlaywriteNZBasic-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Duarte";
    src: url(Playwrite_NZ_Basic/PlaywriteNZBasic-VariableFont_wght.ttf);
    font-weight: 300;
}